/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 40em) {
.dropbutton {
    display: none;
}
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {

}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {

}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {
    * {
        border: 1px solid red;
    }

}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Oswald:wght@700&display=swap');

html,
body {
	height: 100%;
}

* {
    /* border: 1px solid red; */
    margin: 0px;
    padding: 0px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;


}

.header {
    background-color: 257675;
    height: 4rem;
    flex-shrink: 0;
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.headerleft {
    display: flex;
    align-items: center;
}

.headertext {
margin-left: 10;
font-size: 25px;
font-family: 'Oswald';
}

.svg {
    padding-left: 0.5rem;
    padding-right: 1rem;
    height: 3rem;
    filter: invert(100%) sepia(0%) saturate(7470%) hue-rotate(116deg) brightness(109%) contrast(109%);
}

.dropbutton {
    padding: 0;
    margin-right: 1rem;
    background: none;
    border: none;
}

.mainholder {
    background-color: 065a60;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.showMore {
    background-color: white;
    height: 50vh;
    width: 80vw;
    display: none;
    position: absolute;
    justify-self: start;
    z-index: 1;
    top: 0px;
}

.blockOnClick {
    display: block;
}

.main {
    background-color: a7c8c7;
    width: 80vw;
    height: 80vh;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    font-family: 'Kanit';
}


.footer {
    text-align: center;
    background-color: 257675;
    color: white;
}
