/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 40em) {
    .notemain {
        grid-auto-columns: repeat(auto-fill, 100%);
        overflow: scroll;
    }

}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {

    
    .hide {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
    }

    .hide2 {
        display: flex !important;
    }

    .homesidebar {
        display: flex;
    }

    .notemain {
        grid-template-columns: repeat(3, 33%);
        overflow: scroll;
    }




    
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
    .notemain {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        overflow: scroll;
    }

}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {

}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Oswald:wght@700&display=swap');

:root {
    --headerColour: #257675;
    --mainColour: #a7c8c7;
    --dropdownColour: #9bdbd9;
}
.hide {

}


html,
body {
	height: 100%;
}

* {
    /* border: 1px solid red; */
    margin: 0px;
    padding: 0px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;


}

.header {
    background-color: var(--headerColour);
    height: 4rem;
    flex-shrink: 0;
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.headerleft {
    display: flex;
    align-items: center;
}

.headertext {
margin-left: 10;
font-size: 25px;
font-family: 'Oswald';
}

.svg {
    padding-left: 0.5rem;
    padding-right: 1rem;
    height: 3rem;
    filter: invert(100%) sepia(0%) saturate(7470%) hue-rotate(116deg) brightness(109%) contrast(109%);
}

.dropbutton {
    padding: 0;
    margin-right: 1rem;
    background: none;
    border: none;
}

.mainholder {
    background-color: 065a60;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.homesidebar {
    display: none;
    background-color: var(--headerColour);
    border: black solid 1px;
    height: 100%;
    width: 18rem;
    margin-right: 2rem;
    flex-direction: column;

}

.showMore {
    background-color: var(--dropdownColour);
    flex-grow: 1;
    width: 80vw;
    display: none;
    position: absolute;
    justify-self: start;
    z-index: 1;
    top: 0px;
    border-radius: 1rem;
    justify-content: start;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    font-family: 'Kanit';
    padding-top: 2rem;
    padding-bottom: 2rem;

}

.sidebar1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-shrink: 0;
    align-items: start;
    background-color: gray;
    border: 2px solid black;
    border-radius: 5px;
    width: 90%;
    margin: 0.5rem;
    -webkit-user-select: none;
    user-select: none;
    padding-bottom: 0.1rem;
    font-size: 1rem;
}

.sideOverwrite {
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

#homeBox {
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.sideText {
    font-size: 1.1rem;
}

#homeSVG {
    height: 2rem;
}

.proj {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-shrink: 0;
    align-items: center;
    background-color: lightgray; 
    width: 100%;
    border-top: 1px solid black;
}

.projContent {
    width: 100%;
}

#subTitle {
    font-size: 2rem;
    text-align: start;
    font-weight: bold;
}


/* todoitem ids  */

#topFormat  {
    background-color: lightcyan;
    height: 2rem;
    width: 100%;
    border-radius: 0.3rem;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0.5;
    font-size: 3vw;
    font-size: clamp(0.8rem, 2.5vw, 1rem);
}

#bottomFormat{
    background-color: lightcyan;
    width: 92%;
    height: 2rem;
    border-radius: 0.3rem;
    margin-left: 1rem;
    margin-right: 0.8rem;
    text-align: start;
    padding-left: 1rem;
    justify-content: start;
    align-items: center;
    display: flex;

}

#descriptionTitle {
    color: grey;
    font-weight:bolder;
    font-size: 0.9rem;
    margin-right: 1rem;
}

#descriptionContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#todoFormat {
    display: flex;
    flex-direction: column;
}

#noteItem {
    background-color: lightcyan;
    border-radius: 0.3rem;
    margin: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    flex-shrink: 0.5;
    font-size: 3vw;
    font-size: clamp(0.8rem, 2.5vw, 1rem);
}

#top {
    background-color: rgb(23, 148, 148);
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 0.2rem;
}

#left {
    display: flex;
    height: 100%;
    align-items: center;
}
#right {
    display: flex;
    align-items: center;
    height: 100%;
}
#priorityDiv {
height: 85%;
width: 0.4rem;
}

.priorityHigh {
background-color: red;
}

.priorityMedium {
   background-color: yellow;
}

.priorityLow {
background-color: green;
}

#checkedDiv {
    margin: 0.5rem;
}



#titleDiv {
margin-left: 0.5rem;
}

#detailsDiv {
height: 50%;
width: 3rem;
border: 2px solid green;
border-radius: 0.2rem;
color: green;
margin: 1rem;
font-size: 0.6rem;
-webkit-user-select: none;
user-select: none;
}

#dateDiv {
font-size: 0.7rem;
margin-right: 1rem;
-webkit-user-select: none;
user-select: none;
}

#editDiv {
-webkit-user-select: none;
user-select: none;
}

#deleteDiv {
-webkit-user-select: none;
user-select: none;
}



.svgToDo {
    height: 1.5rem;
}

.editSVG {
    margin-right: 0.3rem;
}

.deleteSVG {
    margin-right: 0.3rem;
}

#subpageTitleBar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#addTaskButton {
    border:1px solid cyan;
    background-color: rgb(149, 233, 233);
    width: 8rem;
    border-radius: 0.3rem;
}

/* add task form */

#addTaskForm {
    height: 20rem;
    width: 18rem;
    z-index: 1;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
}

#addTaskTitleBar {
    background-color: var(--headerColour);
    width: 100%;
    height: 15%;
    font-size: 1.1rem;
    justify-content: center;
    display: flex;
    align-items: center;
    display: flex;
    color: white;

}

.whitetext {
    color: white;
}

#addTaskContent {

    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 99, 99);
}

#closeAddTaskWindow {
    width: 1.5rem;
    height: 1.5rem;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    border: 2px solid white;
    color: white;
    border-radius: 0.1rem;
    user-select: none;
}

#detailsPopup {
    border: 1px solid red;
    height: 5rem;
    width: 15rem;
}



.main {
    background-color: var(--mainColour);
    width: 80vw;
    height: 80vh;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    font-family: 'Kanit';
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.notemain {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    overflow: scroll;
    justify-content: center;
}

.projTitle {
    display: flex;
    flex-direction: row;
}


.footer {
    text-align: center;
    background-color: var(--headerColour);
    color: white;
}
